In [1]:
a = 10 # int
b = 11.4 # float

In [3]:
# this line is very important
# so don't delete those lines

In [5]:
print(a,b)
print(a, 10, 200, b)

10 11.4
10 10 200 11.4

In [7]:
print(a, b, 10, 100, sep='*', end=' !!')

10*11.4*10*100 !!

In [9]:
print(a)
print(a, b)
a

10
10 11.4

10

In [11]:
a = 10
b = 11.4
a
b

11.4

In [ ]:
abcABC = 100
_abc124 = 200
ABC124 = 200
a456BC = 100

In [13]:
_3abc= 100

In [ ]:
a = 200 
number_of_students = 200

In [16]:
_class = 100
print(_class)

100